@import url("https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

.font-mirza {
  font-family: "Mirza", cursive !important;
}
.font-pop {
  font-family: "Poppins", sans-serif !important;
}
